* {
    box-sizing: border-box;
}
html{
    height: 100%;
}

html,
body,
a,
li,
ul,
div,
span,
h1,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    font-family: verdana, Arial, sans-serif;
    background-color: rgb(255, 250, 225);
}

#header {
    background-color: rgb(252, 242, 230);
}

#header h1 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 30px 30px 30px 10px;
    clear: both;
    text-align: center;
}

#nav {
    background-color: rgb(221, 235, 210);
    border-top: 3px solid rgb(79, 117, 105);
    border-bottom: 3px solid rgb(79, 117, 105);
}

#nav li {
    float: left;
    list-style: none;
}

#nav a {
    display: block;
    color: black;
    padding: 10px 25px;
    text-decoration: none;
    border-right: 3px solid rgb(79, 117, 105);
    transition: transform 0.5s ease;
    cursor: pointer;
}

#nav li:last-child a {
    border-right: none;
}

#nav a:hover {
    font-weight: bold;
    transform: scale(1.1);
    color: black;
}

#nav:after {
    content: " ";
    display: table;
    clear: both;
}

.wrapper {
    background-color: rgb(220, 247, 250);
}

.aside h2 {
    font-size: 0.95em;
    margin-top: 15px;
}

.aside h3 {
    font-size: 0.85em;
    margin-top: 10px;
}

.aside p,
.aside li {
    font-size: .75em;
    margin-top: 10px;
}

.aside li {
    list-style-type: none;
}

#sidebar1 {
    float: left;
    width: 20%;
    padding: 0px 10px 0px 20px;
}

#sidebar2 {
    float: right;
    width: 20%;
    padding: 0px 20px 0px 10px;
}

#article {
    background-color: rgb(254, 253, 255);
    border-left: 1px solid rgb(79, 117, 105);
    border-right: 1px solid rgb(79, 117, 105);
    margin-left: 20%;
    margin-right: 20%;
    padding: 15px;
    width: 60%;
}

#article::after {
    clear: both;
    display: table;
    content: ' ';
}

#article h2 {
    font-size: 1.3em;
    margin-bottom: 15px;
}

#article p {
    line-height: 150%;
    margin-bottom: 15px;
}

#footer {
    border-top: 1px solid rgb(79, 117, 105);
    font-size: .8em;
    text-align: center;
    padding: 10px 10px 30px 10px;
    background-color: rgb(252, 242, 230);
}

#nav ul,
#header h1,
.wrapper,
#footer p {
    max-width: 1200px;
    margin: auto;
}

.wrapper,
#nav,
#header,
#footer {
    min-width: 768px;
}

.name{
    text-align: center;
}
/* 
.img{
    border: 1px solid black;
} */

.mod{
    border-top: 1px solid black;
}

.ostrzezenie{
    color: red;
}
